/*================ GOOGLE FONTS ================*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap');

/*================ VARIABLES CSS ================*/
:root {
  /*====== Colors ======*/
  --primary-color: hsl(277, 64%, 61%);
  --body-color: hsl(233, 47%, 7%);
  --card-color: hsl(244, 38%, 16%);
  --text-color: hsla(0, 0%, 100%, 0.75);
  --title-color: hsl(0, 0%, 100%);
  --subtitle-color: hsla(0, 0%, 100%, 0.6);
  /*==== Font & Typography ====*/
  --body-font: 'Lexend Deca', sans-serif;
  --title-font: 'Inter', sans-serif;
  --title-font-size: 1.7rem; /* 24px */
  --normal-font-size: 0.937rem; /* 15px */
  /*==== Font Weight ====*/
  --font-regular: 400;
  --font-bold: 700;
}

/*================ BASE ================*/
*,
::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
  height: 100vh;
}

h1,
h3 {
  font-size: var(--title-font-size);
  color: var(--title-color);
  font-family: var(--title-font);
}

img {
  max-width: 100%;
  height: auto;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.card__container {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

/*=============== CARD ===============*/
.card {
  width: 320px;
  background-color: var(--card-color);
  display: grid;
  grid-template-rows: 1fr 2fr;
  overflow: hidden;
  border-radius: 10px;
}

.card__img {
  background-image: url("/images/image-header-mobile.jpg");
  background-position: center;
  background-size: cover;
}

.card__img-overlay {
  width: 100%;
  height: 100%;
  background-color: var(--primary-color);
  opacity: .5;
}

.card__content {
  padding: 1.5rem;
  text-align: center;
}

.card__title span {
  color: var(--primary-color);
}

.card__description {
  line-height: 1.5;
  margin: 1rem 0;
}

.card__info {
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
  line-height: 1.5;
}

.card__info div:not(:last-child) {
  margin-bottom: 20px;
}

