/*================ GOOGLE FONTS ================*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap');

/*================ VARIABLES CSS ================*/
:root {
  /*====== Colors ======*/
  --primary-color: hsl(277, 64%, 61%);
  --body-color: hsl(233, 47%, 7%);
  --card-color: hsl(244, 38%, 16%);
  --text-color: hsla(0, 0%, 100%, 0.75);
  --title-color: hsl(0, 0%, 100%);
  --subtitle-color: hsla(0, 0%, 100%, 0.6);
  /*==== Font & Typography ====*/
  --body-font: 'Lexend Deca', sans-serif;
  --second-font: 'Inter', sans-serif;
  --title-font-size: 3rem;
  /* 24px */
  --normal-font-size: 1.5rem;
  /* 15px */
  --default-font-size: 62.5%;
  /* 10px */
  /*==== Font Weight ====*/
  --font-regular: 400;
  --font-bold: 700;
}

/* - font size (px):
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- spacing (px):
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128*/

/*================ BASE ================*/
*,
::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: var(--default-font-size);
}

body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
  font-weight: var(--font-regular);
}

h1,
h3 {
  font-size: var(--title-font-size);
  color: var(--title-color);
  font-family: var(--title-font);
  font-weight: var(--font-bold);
}

img {
  max-width: 100%;
  height: 100%;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.grid {
  display: grid;
}

/*=============== CARD ===============*/
.card__container {
  width: 100%;
  padding: 2.4rem 1.6rem;
}

.card__content {
  padding: 3.2rem;
}

.card {
  text-align: center;
  background-color: var(--card-color);
  border-radius: 1rem;
  overflow: hidden;
  max-width: 35rem;
  margin: 0 auto;
}

.card__img-box {
  position: relative;
}

.card__img-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: hsla(277, 64%, 61%, .5);
}

.card__title {
  margin-bottom: 1.6rem;
}

.card__title span {
  color: var(--primary-color);
}

.card__description {
  line-height: 1.6;
  margin-bottom: 3.2em;
}

.card__info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  row-gap: 2.4rem;
}

.card__info-title {
  margin-bottom: .8rem;
}

.card__info-subtitle {
  text-transform: uppercase;
}

/* - spacing (px):
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128 */

/*=============== BREAKPOINTS===============*/
@media screen and (min-width: 1024px) {
  .card__container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .card {
    grid-template-columns: repeat(2, 1fr);
    max-width: 90rem;
    text-align: left;
  }

  .card__img-box {
    order: 2;
  }

  .card__img {
    content: url("/images/image-header-desktop.jpg");
  }

  .card__content {
    padding: 4.8rem;
  }

  .card__info {
    flex-direction: row;
  }
}